* {box-sizing: border-box;
}

body { 
	height: 100%;
	background-image: url("../images/watercolor.jpg");
    background-repeat: repeat;
	
}


h1 {
	width: 30%;

}

h2 {
	font-family:'Georgia', Times, Times New Roman, serif;
	color: #FFA80C;
	font-size: 25px;
	background-color: white;
	padding-left: 20px;


}

h3 {
   color:#FFA80C;
   font-size:20px;
   background-color: white;

}

h4 {
	margin-left: 20px;
   background-color: black;
   width: 90%; 

   color: white;
   text-align: center;

}

li { 
   font-size:20px;
   list-style-type: none;
   display: inline;
   padding: 5px;
   color: #ccc;
 
}

a { 
  text-decoration: none;
  font-color: yellow;
	
}

a:link { 
       color: white;
}

a:visited { 
		  color: white; 
}

a:hover {
    color: yellow;
}

a:hover span { cursor: pointer 
}

a:active { font-color:red;

}

div {
	 background-color: white;
	 clear: both;

	
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   padding-top: 10px;
   padding-bottom: 30px;
   height:20px;
   width:100%;
   background: #FFA80C;	
   color: black;
   text-align:center;
   font-size: 15px;
   border-top:2px yellow;

 }

 input {
 	width:200px;
 	font-size: 10px;
 	font-color: #eee;
 }

 input[type=text] {
    border: 1px solid #ccc;
    width: 100%;
    padding-top: 5px;
   
}

label {
	margin-top: 50px;
	font-size: 18px;
	color: black;
}


ul {
	align-content: center;
}

p {
	position:relative;
	top: 0px;
	left: 20px;
	width: 100%;
	line-height: 160%;
	margin-right:20px;
}

img {
	width:200px;
	height:200px;

}

.whitebar{
		border-color: #eee;
		background-color: #2337ba;
		width: 100%;
		height:100%;
	    border-style: solid;
		padding: 0;
		padding-left: 150px;
		height: 20%;
		border-top: 0px;
		border-right: 0px;
	    border-left: 0px;
		border-bottom-width: 3px;
		border-bottom-color: #fffb00;
		clear:both; 
}
.myname {
	color: white	;
	text-align: center;
	width: 25%;
	height: 5%;
	padding-top: 35px;
	padding-left: 50px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 35px;
	right: 0px;
	bottom: 25px;
	font-size: 34px;
	font-family: 'Josefin Slab', serif;
}



.aboutline {
		width: 90%;
		border: 1px solid #eee; 
		padding-left: 20px;
		margin-bottom: 20px;
	
}

#DG { 
   
	float: left;  
    height: 200px;
	width: 200px;
    padding-left: 20px;

}


#topmenu {
	     width: 80%;
	     height:100%;
		 margin: 0px 0 10px 0;
		 padding-top: 60px;
		 list-style: none;
		 display: flex;
		 justify-content: center;

		 
}

#topmenucontact {
	     width: 40%;
		 margin: 0px 0 10px 0;
		 padding-top: 50px;
		 padding-left: 640px;
		 list-style: none;	
		 
}

.topmenugreyness{
	color: #ccc;
}

.me {
	height: 250px; 
	width: 50%;
	padding: 0p;
	margin-left: 152px;
	margin-top: 0px;
	margin-right:10px;
	clear: both;

}



.minisocial{ 
	width:20%;
	height:20%;
	padding:5px;
	margin-top:10px;
	align-content: center;	

}

#submissionform {
	position:absolute;
	top:145px;
	left: 40px;
	margin-left:100px;
	width: 40%;
	height: 340px;
	padding: 15px;

}

#textarea {
	width: 100%;
	height:120	px;
	padding-top:5px;
	box-sizing: border-box;
	border-color: #ccc;
	background-color: white;
}

.button{
	background-color: #FFA80C;
	border-radius: 25px;
	border: 0px;
	padding: 1px;
	font-size: 12px;
	color: black;
}

.portafolioimage{
	height:250px;
	width:220px;
}

.portafoliowrapper{
	position: absolute;
	top: 103px;
	margin-top: 40px;
	margin-left:100px;
	padding-top: 20px;
	padding-left:20px;
	padding-right:35px;
	margin-right:10px;
	width: 43%;		
	height:750px;
	margin-bottom: 50px;
	background: white;
}

#socialline {
	width: 90%;
	border: 1px solid #eee; 
	padding-left: 20px;

}

#paragraph{
	background-color: white;
	margin: 0 auto 0 auto 0;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;

}


.image {
	float: left;


}

.image2 {
	float:right;
	
}

#overlay{
	position: relative;
	top: -20px;
}

#container{
	background-color: white;
	width:700px;
	clear:both;
	
}
#box1{
	width:45%;
	background-color: white;
	padding-left: 10px;
	padding-right: 50px;
	height: 300px;
	margin-top: 40px;
	margin-left: 90px;
	clear: both;
	
}

.socialmedia {
	background-color: red;
	width:270px;
	padding: 20px;
	display: inline-block;
	position: absolute;
	top:143px;
	left: 680px;
	height:20%;

}

.smcontactOG {
	background-color: yellow;
	width:270px;
	padding: 20px;
	display: inline-block;
	position: absolute;
	top:143px;
	left: 680px;
	height:20%;



}
.socialmediacontact {
	background-color: pink;
	max-width:300px;
	padding: 20px;
	display: inline-block;
	position: absolute;
	top:143px;
	left: 680px;
	height:20%;
   
}



/* 980pixels */

@media handheld, screen and (max-width: 980px){

p {background: white;
	width:439px;
	top:20px;
	padding:20px;
	left:-10px;
	text-align: left;
	height:170px;
	clear: both;
	margin-bottom: 20px;

}

body{ height:100%; 

}

#box1{
	width:45%;
	height: 500px;
	margin-bottom: 100px;

}

#DG{
	padding-left: 50px;
	height: 300px;
	width: 300px;

}

.socialmedia{
	position: absolute;
	top:143px;
	left:550px;
	margin-bottom:20px;
	height:140px;

}

.socialmediaportfolio{
	position: absolute;
	top:143px;
	left:390px;
	margin-bottom:20px;
	height:140px;

}

.portafoliowrapper{
	position: absolute;
	top: 100px;
	margin-top: 40px;
	margin-left:120px;
	padding-top: 20px;
	padding-left:20px;
	padding-right:40px;
	margin-right:40px;
	width: 25%;	
	height:1180px;	
	margin-bottom: 50px;
	background: white;
}

.image2{
	float:left;
}

#submissionform {
	margin-left: 55px
	width: 50%;
	}
}

/*768 pixels-----------------------------------------*/

@media handheld, screen and (max-width: 768px){


p {background: white;
width: 68%;
top:-210px;
left:198px;
}

body{ height:100%; 

}

#box1{
	width:70%;
	height: 340px;
	margin-bottom: 0px;
	padding-bottom:0px;
	line-height: 220%;


}

.socialmedia{
	position: absolute;
	top:500px;
	left:90px;
	margin-bottom:50px;
	padding-bottom:20px;
	height:160px;
	width: 540px;
	background-color: white;
}

#DG{
	padding-left: 20px;
	height: 200px;
	width: 200px;

}



.socialmediacontact{
	position: absolute;
	top:500px;
	left:90px;
	max-width:532px;
	height:165px;
	padding-bottom: 40px;
	margin-bottom:50px;

}



.portafoliowrapper{
	position: absolute;
	top: 100px;
	margin-top: 40px;
	margin-left:120px;
	padding-top: 20px;
	padding-left:30px;
	padding-right:40px;
	margin-right:40px;
	width: 70%;	
	height:730px;	
	margin-bottom: 50px;
	background: white;
}

.image2{
	float:right;
}

.minisocial{ 
	width:13%;
	height:13%;
}

textarea { height:100px; }

}



@media handheld, screen and (max-width: 640px){
   

p {background: white;
width: 100%;
height: 200px;
padding-right:20px;
top:0px;
left:20px;
margin-bottom: 50px;
}

body{ height:100%; 

}

#box1{
	width:70%;
	height: 600px;
	margin-bottom: 0px;
	padding-bottom:0px;
	line-height: 220%;


}

#DG{
	padding-left: 80px;
	height: 300px;
	width: 300px;

}
.submissionform{
	
	width:80%;
	margin-top: 40px;
	margin-left:90px;
	margin-bottom: 40px;
	padding:20px;

}

.socialmedia{
	position: absolute;
	top:770px;
	left:92px;
	margin-bottom:100px;
	max-width:540px;
	width:450px;
	height:160px;

}

.socialmediaportfolio640{
	position: absolute;
	top:1340px;
	left:150px;
	margin-bottom:100px;
	max-width:540px;
	width:250px;
	height:120px;

}

.socialmediacontact{
	position: absolute;
	top:900px;
	left:150px;
	margin-bottom:100px;
	max-width:540px;
	width:250px;
	height:160px;

}

.socialmediacontact640{
	position: absolute;
	top:600px;
	left:118px;
	margin-bottom:100px;
	max-width:250px;
	width:510px;
	height:120px;

}



.portafoliowrapper{
	position: absolute;
	top: 100px;
	margin-top: 40px;
	margin-left:150px;
	padding-top: 20px;
	padding-left:30px;
	padding-right:40px;
	margin-right:40px;
	width: 40%;	
	height:1180px;	
	margin-bottom: 50px;
	background: white;
}

.image2{
	float:left;
}

.minisocial{ 
	width:18%;
	height:18%;
}










