* {box-sizing: border-box;
}

body { 
	height: 100%;
	background-image: url("../images/watercolor.jpg");
    background-repeat: repeat;
	
}



h1 {
	width: 30%;

}

h2 {
	font-family:'Georgia', Times, Times New Roman, serif;
	color: #FFA80C;
	font-size: 25px;
	background-color: white;
	padding-left: 20px;


}

h3 {
   color:#FFA80C;
   font-size:20px;
   background-color: white;

}

h4 {
	margin-left: 20px;
   background-color: black;
   width: 90%; 

   color: white;
   text-align: center;

}

li { 
   font-size:20px;
   list-style-type: none;
   display: inline;
   padding: 5px;
   color: #ccc;
 
}

a { 
  text-decoration: none;
  font-color: yellow;
	
}

a:link { 
       color: white;
}

a:visited { 
		  color: white; 
}

a:hover {
    color: yellow;
}

a:hover span { cursor: pointer 
}

a:active { font-color:red;

}



div {
	
	 background-color: white;
	 height: 25%;
	 clear: both;

	
}

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   padding-top: 10px;
   padding-bottom: 30px;
   height:20px;
   width:100%;
   background: #FFA80C;	
   color: black;
   text-align:center;
   font-size: 15px;
   border-top:2px yellow;

 }

 input {
 	width:200px;
 	font-size: 10px;
 	font-color: #eee;
 }

 input[type=text] {
    border: 1px solid #ccc;
    width: 100%;
    padding-top: 5px;
   
}

label {
	margin-top: 50px;
	font-size: 18px;
	color: black	;
}


ul {
	align-content: center;
}

p {
	position:relative;
	top: 0px;
	left: 20px;
	width: 100%;
	line-height: 160%;
	margin-right:20px;

}

.whitebar{
		border-color: #eee;
		background-color: #2337ba;
		width: 100%;
		height:100%;
	    border-style: solid;
		padding: 0;
		padding-left: 150px;
		height: 20%;
		border-top: 0px;
		border-right: 0px;
	    border-left: 0px;
		border-bottom-width: 3px;
		border-bottom-color: #fffb00;
		clear:both; 
}
.myname {
	color: white	;
	text-align: center;
	width: 25%;
	height: 5%;
	padding-top: 35px;
	padding-left: 50px;
	margin: 0px;
	position: absolute;
	top: 0px;
	left: 35px;
	right: 0px;
	bottom: 25px;
	font-size: 34px;
	font-family: 'Josefin Slab', serif;
}



.aboutline {
		width: 90%;
		border: 1px solid #eee; 
		padding-left: 20px;
		margin-bottom: 20px;
	
}

#DG { 
   
   float:left;
    width: 30%;
    height: 60%;
    margin: 0;
    padding-left: 20px;

}


#topmenu {
	     width: 80%;
	     height:100%;
		 margin: 0px 0 10px 0;
		 padding-top: 60px;
		 list-style: none;
		 display: flex;
		 justify-content: flex-end;

		 
}

#topmenucontact {
	     width: 40%;
		 margin: 0px 0 10px 0;
		 padding-top: 50px;
		 padding-left: 640px;
		 list-style: none;	
		 
}

.topmenugreyness{
	color: #ccc;
}

.me {
	height: 250px; 
	width: 50%;
	padding: 0p;
	margin-left: 152px;
	margin-top: 0px;
	margin-right:10px;
	clear: both;

}



}
.socialmediacontact {
	width: 25%;
    height:10%;
 
    
   
}

.socialmediaportfolio{
	width: 25%;
    top:52px;
    height:20%;

 }

.minisocial{ 
	width:20%;
	height:20%;
	padding:5px;
	margin-top:10px;
	align-content: center;	

}

#submissionform {
	
	margin-top: 330px;
	margin-left:-630px;
	width:40%;
	padding: 15px;

}

#textarea {
	width: 100%;
	height:150px;
	padding-top:5px;
	box-sizing: border-box;
	border-color: #ccc;
	background-color: white;
}

.button{
	background-color: #FFA80C;
	border-radius: 25px;
	border: 0px;
	padding: 1px;
	font-size: 12px;
	color: black;
}

.portafolioimage{
	height:160px;
	width:220px;
}

.portafoliowrapper{
	position: absolute;
	top: 130px;
	margin-top: 40px;
	margin-left:170px;
	padding-top: 20px;
	padding-left:20px;
	padding-right:35px;
	margin-right:10px;
	width: 34%;		
	height:100%;
	margin-bottom: 40px;

}

#socialline {
	color: #eee;
}

#paragraph{
	background-color: white;
	margin: 0 auto 0 auto 0;
	padding-left: 10px;
	padding-top: 10px;
	width: 100%;

}


.image {
	float: left;
	


}

.image2 {
	float:right;
	
}

#overlay{
	position: relative;
	top: -20px;
}

#container{
	background-color: white;
	width:700px;
	clear:both;
	
}
#box1{
	width:45%;
	background-color: white;
	padding-left: 10px;
	padding-right: 50px;
	height: 300px;
	margin-top: 40px;
	margin-left: 90px;
	clear: both;
	border: 1px solid blue;
}

.socialmedia {

	background-color: white;
	border: solid 1px blue;
	padding: 20px;
	max-width: 270px;
	display: inline-block;
	position: absolute;
	top:143px;
	left: 700px;


}

@media handheld, screen and (max-width: 980px){

p {background: white;
	width:439px;
	top:20px;
	padding:20px;
	left:-10px;
	text-align: left;
	height:170px;
	clear: both;
	margin-bottom: 20px;

}

body{ height:700px; 

}

div {

	

}

#DG{
	height: 200px;
	width: 200px;

}

#socialmedia{

	height: 500px;
	position: absolute;

}



/*
@media handheld, screen and (max-width: 768px)

@media handheld, screen and (max-width: 640px)*/

        











